$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*above is from yeoman generator*/
/*from old rangeeval app*/

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
background: #373737;
  color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*card matrix */

.card-matrix {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.card-matrix ul {
  list-style: none;
}

.card-matrix li {
  height: 31px;
}

.card-matrix button {
  height: 30px;
  width: 35px;
  font-weight: 700;
  margin-right: 1px;
}

.btn-primary {
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
}

.btn-success {
  border-bottom: 1px solid green;
  border-right: 1px solid green;
}

.btn-info {
  border-bottom: 1px solid rgb(52, 141, 255);
  border-right: 1px solid rgb(52, 141, 255);
}

.btn-danger {
  border-bottom: 1px solid rgb(146, 0, 0);
  border-right: 1px solid rgb(146, 0, 0);
}

.card-matrix .pressed.notall {
  background: rgb(250, 119, 83);
  border: none;
  border-top: 3px solid rgb(220, 79, 41);
  border-left: 3px solid rgb(220, 79, 41);  
  border-right: 1px solid rgb(220, 79, 41);  
  border-bottom: 1px solid rgb(220, 79, 41);  
  color: white; 
line-height: 26px;
padding-right: 4px;
}

.card-matrix .pressed.notall:hover {
  background: rgb(220, 70, 29);
}

.card-matrix .pressed {
background: rgb(152, 77, 255);
  border: none;
  border-top: 3px solid rgb(135, 53, 248);
  border-left: 3px solid rgb(135, 53, 248);  
  border-bottom: 1px solid rgb(135, 53, 248);
  border-right: 1px solid rgb(135, 53, 248);  
  color: white; 
}

.card-matrix .pressed:focus,
.card-matrix .pressed:active,
.card-matrix .pressed:hover {
  background: rgb(131, 41, 255);
  color: white;
}

/*suitmatrix*/
.club:before {
  content: "\2663";
  color: green;
  margin: 2px;
}
.diam:before {
  content: "\2666";
  color: blue;
  margin: 2px;
}
.heart:before {
  content: "\2665";
  color: rgb(255, 51, 51);
  margin: 2px;
}
.spade:before {
  content: "\2660";
  color: black;
  margin: 2px;
}

.suit-matrix {
  list-style: none;
}

.suit-matrix button {
  width: 40px;
  height: 30px;
  font-size: 1.6em;
  padding: 0px;
  margin-right: 1px;
  margin-bottom: 1px;
  background: rgb(239, 255, 254);
  border-bottom: 2px solid rgb(0, 109, 143);
  border-right: 2px solid rgb(0, 109, 143);
}

.suit-matrix button:hover {
  background-color: #C5E4FF;
}

.suit-matrix button span {
  position: relative;
  top: -3px;
}

.suit-matrix button.pressed {
  background: rgb(165, 183, 255);
  border-bottom: 1px solid rgb(0, 87, 146);
  border-right: 1px solid rgb(0, 87, 146);
  border-top: 3px solid rgb(0, 87, 146);
  border-left: 3px solid rgb(0, 87, 146);
}

.suit-matrix button.pressed:hover {
  background: rgb(148, 170, 255);
}

.suit-matrix button[disabled] {
  background: #868686;
  border-bottom: none;
  border-right: none;
  border-top: 2px solid #a3a3a3;
  border-left: 2px solid #a3a3a3;
  opacity: 0.3;
}

.range-string {
  width: 600px;
  color: #333;
}

.board-matrix {
  display: inline-block;
}

.board-matrix button {
height: 30px;
line-height: 10px;
width: 35px;
font-weight: 700;
margin-right: 1px;
margin-bottom: 1px;
}

.board-matrix ul {
list-style: none;
margin: 0;
padding: 0;
}

.board-matrix button.pressed {
  background: rgb(152, 77, 255);
  border: none;
  border-top: 3px solid rgb(135, 53, 248);
  border-left: 3px solid rgb(135, 53, 248);  
  border-bottom: 1px solid rgb(135, 53, 248);
  border-right: 1px solid rgb(135, 53, 248);  
  color: white; 
}

.board-matrix button.pressed:active, 
.board-matrix button.pressed:focus, 
.board-matrix button.pressed:hover {
  background: rgb(131, 41, 255);
  color: white;
}

.board-matrix span {
font-size: 16px;
margin-left: 2px;
}

.board-matrix span:before {
color: white;
}
/*weird focus fix on chroem*/
/*
.btn-primary:focus {
background-color: inherit; 
}
*/

.btn-heart {
  background: rgba(218, 16, 16, 1);
  border-bottom: 1px solid #AF0000;
  border-right: 1px solid #AF0000;
  color: white;
}
.btn-club {
  background: #5cb85c;
  border-bottom: 1px solid green;
  border-right: 1px solid green;
  color: white;
}
.btn-diam {
  background: #428bca;
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  color: white;
}
.btn-spade {
  background: rgb(32, 27, 21);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  color: white;
}

.board-display ul {
list-style: none;
margin: 10px 0 0 0;
padding: 0;
}
.board-display li {
display: inline-block;
margin-right: 6px;
}

/*chart*/
.body text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
.body text.outside {
  fill: steelblue;
}
svg {
}

.body > g:nth-child(3) > rect {
fill: pink;
}

.box {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.red {
    background-color: #e9967a;
    color: #f0f8ff;
}

.blue {
    background-color: #add8e6;
    color: #f0f8ff;
}

.cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.fixed-cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    position: fixed;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.h-bar {
    min-height: 15px;
    min-width: 10px;
    background-color: steelblue;
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
}

.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4682b4;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}

.baseline {
    height: 1px;
    background-color: black;
}

.clear {
    clear: both;
}

.selected {
    background-color: #f08080;
}

.control-group {
    padding-top: 10px;
    margin: 10px;
}

.table {
    width: 70%;
}

.table td, th {
    padding: 5px;
}

.table-header {
    background-color: #00AFEF;
    font-weight: bold;
}

.table-row-odd {
    background-color: #f0f8ff;
}

.table-row-odd {
    background-color: #d3d3d3;
}

.code {
    display: inline-block;
    font-style: italic;
    background-color: #d3d3d3;
    border: #969696 solid thin;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.countdown{
    width: 150px;
    height: 150px;
    font-size: 5em;
    font-weight: bold;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.axis .grid-line{
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}

.line{
    fill: none;    
    stroke: steelblue;
    stroke-width: 2;
}

.dot {
  fill: #fff;
  stroke: steelblue;
}

.area {
    stroke: none;
    fill: steelblue;
    fill-opacity: .2;
}

.pie text{
    fill: white;
    font-weight: bold;
}

.circle {
    stroke: none;
    fill: red;
    fill-opacity: .7;
}

.cross {
    stroke: none;
    fill: blue;
    fill-opacity: .7;
}

.diamond {
    stroke: none;
    fill: green;
    fill-opacity: .7;
}

.square{
    stroke: none;
    fill: yellow;
    fill-opacity: .7;
}

.triangle-down{
    stroke: none;
    fill: blueviolet;
    fill-opacity: .7;
}

.triangle-up{
    stroke: none;
    fill: darkred;
    fill-opacity: .7;
}

.bubble{
    fill-opacity: .3;
}

.bar{
    stroke: none;
    fill: steelblue;
}


/* end chart */

.range-selector {
float: left;
width: 50%;
margin-right: -100%;
}

.range-chart {
float: left;
width: 50%;
margin-right: -100%;
margin-left: 45%;
position: relative;
}

.chart-container button {
display: block;
color: black;
}

.bar-combos {
position: absolute;
background: #201b15;
color: white;
}


.invalid svg {
opacity: 0.8;
}
