/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*card matrix */

.card-matrix {
  list-style: none;
}

.card-matrix li {
  height: 31px;
}

.card-matrix button {
  height: 30px;
  width: 35px;
  font-weight: 700;
  margin-right: 1px;
}

.btn-primary {
  border-bottom: 2px solid blue;
  border-right: 2px solid blue;
}

.btn-success {
  border-bottom: 2px solid green;
  border-right: 2px solid green;
}

.btn-info {
  border-bottom: 2px solid rgb(52, 141, 255);
  border-right: 2px solid rgb(52, 141, 255);
}

.btn-danger {
  border-bottom: 2px solid rgb(146, 0, 0);
  border-right: 2px solid rgb(146, 0, 0);
}

.card-matrix .pressed {
  background: rgb(178, 0, 223);
  border: none;
  border-top: 3px solid rgb(138, 0, 138);
  border-left: 3px solid rgb(138, 0, 138);  
  color: white; 
}

.card-matrix .pressed:hover {
  background: rgb(161, 0, 202);
}
