<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/boot.css">
    <link rel="stylesheet" href="styles/main.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- endbuild -->
    <base href="/">
  </head>
  <body ng-app="rangeStatApp">

    <div ng-controller="MainCtrl as main" class="views-container main clearfix">

      <div class="range-selector">
        <div>
          <card-matrix active="main.active"></card-matrix>
          <board-matrix board="main.board"></board-matrix>
        </div>
        <div class="clearfix range-string-container">
          <textarea 
            class='range-string' 
            range-string
            ng-model='main.rangeStringDummy' 
            range-string-model='main.rangeStringModel'
            active-input-mode='main.active' 
            preflop-hands='main.preflopHands'>
          </textarea>
          <suit-matrix active="main.active"></suit-matrix>
        </div>
      </div><!-- /range-selector -->

      <range-chart board="main.board" range="main.rangeStringModel"></range-chart>

    </div><!-- /main -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/modules/underscore.js"></script>
        <script src="scripts/modules/d3.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/models/preflophand.js"></script>
        <script src="scripts/models/preflophands.js"></script>
        <script src="scripts/models/activeinputmode.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/preflophand.js"></script>
        <script src="scripts/controllers/cardmatrix.js"></script>
        <script src="scripts/controllers/suitmatrix.js"></script>
        <script src="scripts/controllers/boardmatrix.js"></script>
        <script src="scripts/controllers/rangechart.js"></script>
        <script src="scripts/directives/barchart.js"></script>
        <script src="scripts/directives/preflophand.js"></script>
        <script src="scripts/directives/boardcard.js"></script>
        <script src="scripts/directives/rangestring.js"></script>
        <script src="scripts/directives/handsuits.js"></script>
        <script src="scripts/directives/rangechart.js"></script>
        <script src="scripts/directives/cardmatrix.js"></script>
        <script src="scripts/directives/boardmatrix.js"></script>
        <script src="scripts/directives/suitmatrix.js"></script>
        <script src="scripts/directives/tooltip.js"></script>
        <script src="scripts/services/rangeformatter.js"></script>
        <script src="scripts/services/rangeparser.js"></script>
        <script src="scripts/services/horizontalbarchart.js"></script>
        <script src="scripts/services/tagmatrix.js"></script>
        <script src="scripts/services/suitmatrix.js"></script>
        <script src="scripts/services/chartdata.js"></script>
        <script src="scripts/services/rangedata.js"></script>
        <!-- endbuild -->
</body>
</html>
