<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="rangeStatApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



    <deb></deb>

<div ng-controller="cardMatrixCtrl">
<ul class="card-matrix">
  <li ng-repeat="row in tagMatrix"><!-- will be ::tagMatrix for one way binding -->
    <preflop-hand ng-repeat="cardData in row" 
                  ranks='{{cardData.cards}}' 
                  suit-type='{{cardData.type}}' 
                  active="main.active">
    </preflop-hand>
  </li>
</ul>
</div><!-- /cardMatrix -->

<div ng-controller="suitMatrixCtrl">
<h2>{{main.active.tag}}</h2>
<ul class="suit-matrix">
  <li ng-repeat="row in suitMatrix">
    <hand-suits ng-repeat="suits in row" active="main.active" suits="{{suits}}"></hand-suits>
  </li>
</ul>
</div><!-- /suitMatrixCtrl -->

    <input class = 'range-string' 
      ng-model='main.rangeStringModel' 
      active-input-mode='main.active' 
      range-string preflop-hands='main.preflopHands' 
      type='text'>


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/modules/underscore.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/models/preflophand.js"></script>
        <script src="scripts/models/preflophands.js"></script>
        <script src="scripts/models/activeinputmode.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/preflophand.js"></script>
        <script src="scripts/controllers/cardmatrix.js"></script>
        <script src="scripts/controllers/suitmatrix.js"></script>
        <script src="scripts/directives/preflophand.js"></script>
        <script src="scripts/services/tagmatrix.js"></script>
        <script src="scripts/services/suitmatrix.js"></script>
        <script src="scripts/directives/rangestring.js"></script>
        <script src="scripts/directives/handsuits.js"></script>
        <script src="scripts/services/rangeformatter.js"></script>
        <script src="scripts/services/rangeparser.js"></script>
        <!-- endbuild -->
</body>
</html>
