<div class="range-chart" ng-class="{invalid: !rangeChart.inSync}">
<svg id="bar-chart" bar-chart tip="rangeChart.tip" percent-of-group=rangeChart.percentOfGroup data="rangeChart.data" ng-click="rangeChart.changeChart($event)"></svg>
<div class="bar-combos">this is the hover el that shows current bar's hand combos</div>
<p>display board is: {{rangeChart.board}}</p>
<p>display range: {{rangeChart.range}}</p>
<p>board is: {{board}}</p>
<p>range: {{range}}</p>
<div class="loading" ng-show="!rangeChart.inSync">LOADING</div>
<div class="chart-container">
<button ng-click="rangeChart.togglePercentOfGroup()" ng-disabled="rangeChart.isMain()">Show Percent of something</button>
<div class="chart-title">Showing Percent of {{rangeChart.group}}</div>
</div><!-- chart-container -->
</div><!-- range-chart -->
